<nav class="d-flex text-light justify-content-between align-items-center shadow-lg">
      <ul class=" d-flex list-unstyled align-items-center py-3 m-0 w-50">
        <h4  class="px-3 text-xl m-0">
            Recipe Book 
        </h4>
        <li routerLink="#" class="px-3 font-size:larger;   ">
          Recipes
        </li>
        <li class="px-3" >
          Shopping List
        </li>
      </ul>
    <ul class="d-flex  list-unstyled align-items-center bg-light text-dark px-2 py-1 m-0 mx-3 rounded">
      <li>
        Manage
      </li>
    </ul>
    
  </nav>