<div  class=" m-5 p-5 card " *ngIf="selectedrecipe; else InfoText">
<div class="row">
    <div class="col-6  " >
        <img [src]="selectedrecipe.imagePath" alt="" class="img-fluid w-75 shadow rounded">
    </div>


    <div class="col-6">
        <h1>{{selectedrecipe.name}}</h1>
  
        <div class="dropdown my-2">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  (click)="changedropdown()">
              Dropdown link
            </a>
          
            <div class="dropdown-menu " [ngClass]="{'d-block': dropdown}" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" style="cursor: pointer;" (click)="addToShoppingList()">Add to Shopping List</a>
              <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
              <a class="dropdown-item" [routerLink]="['edit']">Delete Recipe</a>
            </div>
          </div>
        
    
        <h4>{{selectedrecipe.desc}}</h4>
  
        <div class="list-group">
          <div class="list-group-item" 
          *ngFor="let ingridients of selectedrecipe.ingredients">
                {{ingridients.name }} - ({{ingridients.amount}})
          </div>

        </div>

    </div>
</div>

    
</div>
<ng-template #InfoText >
    <p  class=" m-5 p-5 card">PLZ SELECT RECIPE</p>
</ng-template>